[submodule "PhotoshopAPI/thirdparty/c-blosc2"]
	path = thirdparty/c-blosc2
	url = https://github.com/Blosc/c-blosc2
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest/
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "thirdparty/mio"]
	path = thirdparty/mio
	url = https://github.com/vimpunk/mio
[submodule "thirdparty/simdutf"]
	path = thirdparty/simdutf
	url = https://github.com/simdutf/simdutf
[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "thirdparty/compressed-image"]
	path = thirdparty/compressed-image
	url = https://github.com/EmilDohne/compressed-image
