[submodule "PhotoshopAPI/thirdparty/c-blosc2"]
	path = thirdparty/c-blosc2
	url = https://github.com/Blosc/c-blosc2
[submodule "thirdparty/zlib-ng"]
	path = thirdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest/
